.timetable-container {
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
    max-width: 100%;
  }
  
  .timetable {
    min-width: 600px; /* Ensure the table has a minimum width */
  }
  
  .sticky-col {
    cursor: pointer;
    position: sticky;
    left: 0;
    background-color: #f8f9fa; /* Match the table's background */
    z-index: 1;
  }
  
  .table-bordered th,
  .table-bordered td {
    text-align: center;
    vertical-align: middle;
  }
  
  .clickable-cell {
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .clickable-cell:hover {
    background-color: #f1f1f1;
  }

  .btn-outline-success,
.btn-outline-danger {
  border: 2px solid transparent;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-outline-success:hover,
.btn-outline-danger:hover {
  border-color: #ccc;
}

  